<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <% if (cssFiles.length !== 0) { %>
        <% for( let i=0; i<cssFiles.length; i++ ) { %>
            <link rel="stylesheet" href="/css/<%- cssFiles[i] %>">
        <% } %>
    <% } %>
    <% if (jsFiles.length !== 0) { %>
        <% for( let i=0; i<jsFiles.length; i++ ) { %>
            <script defer src="/js/<%- jsFiles[i] %>"></script>
        <% } %>
    <% } %>
</head>
<body>
    <div id="header">
        <div class="bg"></div>
        <div class="topHeader">
            <h1 class="logo"><a href="/"><img src="/img/index/logo.png"></a></h1>
        </div>
        <div class="botHeader">
            <div class="center">
                <ul class="gnb">
                    <li>
                        <a href="/"><span>PRODUCTS</span></a>
                        <ul class="depth2">
                            <li>
                                <a href="/">
                                    <img src="/img/index/more01.png">
                                    <p>ROLLABLE OLED TV</p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/oled_8k">
                                    <img src="/img/index/more02.png">
                                    <p>OLED 8K</p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/refrigerator">
                                    <img src="/img/index/more03.png">
                                    <p>REFRIGERATOR</p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/wine_cellar">
                                    <img src="/img/index/more04.png">
                                    <p>WINE CELLAR</p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/washing_machine">
                                    <img src="/img/index/more05.png">
                                    <p>WASHING MACHINE</p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/air_purifier">
                                    <img src="/img/index/more06.png">
                                    <p>AIR PURIFIER</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/brand"><span>BRAND</span></a></li>
                    <li><a href="/magazine"><span>MAGAZINE</span></a></li>
                    <li><a href="/lounge"><span>LOUNGE</span></a></li>
                    <li><a href="/inspiration"><span>INSPIRATION</span></a></li>
                </ul>
            </div>
        </div>
        <div class="loginWrap">
            <% if (login) { %>
                <a href="/mypage"><span><%- login.memberid %></span></a>
                <a href="/logout"><span>LOGOUT</span></a>
                <a href="/notice/review/list"><span>NOTICE</span></a>
            <% } else { %>
                <a href="/login"><span>LOGIN</span></a>
                <a href="/join"><span>JOIN</span></a>
                <a href="/noticelogin"><span>NOTICE</span></a>
            <% } %>
        </div>
        <a href="#" class="hamMenu"><i class="fa-solid fa-bars"></i></a>
        <div class="mobileMenu">
            <ul class="gnbMenu">
                <li>
                    <a href="/">PRODUCTS<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="prdMenu">
                        <li><a href="/">ROLLABLE OLED TV</a></li>
                        <li><a href="/product/oled_8k">OLED 8K</a></li>
                        <li><a href="/product/refrigerator">REFRIGERATOR</a></li>
                        <li><a href="/product/wine_cellar">WINE CELLAR</a></li>
                        <li><a href="/product/washing_machine">WASHING MACHINE</a></li>
                        <li><a href="/product/air_purifier">AIR PURIFIER</a></li>
                    </ul>
                </li>
                <li><a href="/brand">BRAND</a></li>
                <li><a href="/magazine">MAGAZINE</a></li>
                <li><a href="/lounge">LOUNGE</a></li>
                <li><a href="/inspiration">INSPIRATION</a></li>
                <li>
                     <% if (login) { %>
                        <a href="/mypage"><%- login.memberid %></a>
                        <a href="/logout">LOGOUT</a>
                        <a href="/notice/review/list">NOTICE</a>
                    <% } else { %>
                        <a href="/login">LOGIN</a>
                        <a href="/join">JOIN</a>
                        <a href="/login">NOTICE</a>
                    <% } %>
                </li>
            </ul>
            <a href="#" class="closeBtn"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>