<%- include("header",{ title:"NOTICE REVIEW | LG SIGNATURE", cssFiles:["review_detail.css"],
    jsFiles:["header.js","login_join/scroll.js","notice/detail.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="bg"></div>
            <div class="wrap">
                <div class="center">
                    <div class="textWrap">
                        <h3 class="subtitle"><%- data.category %> • <%- data.date %></h3>
                        <h2 class="title"><%- data.title %></h2>
                        <p class="author">Reviewed by <%- data.author %></p>
                        <p class="context"><%- data.context %></p>
                        <div class="linkWrap">
                            <span><%- data.hashtag %></span>
                            <% if (login) { %>
                                <a class="update" href="#">Update</a>
                                <a class="delete" href="#">Delete</a>
                            <% } %>
                        </div>
                        <a class="back" href="/notice/review/list">back to the list</a>
                    </div>
                    <div class="imgWrap">
                        <% for( let i=0; i<data.attachfile.length; i++) { %>
                            <div>
                                <img src="/upload/<%- data.attachfile[i] %>">
                                <a href="/upload/<%- data.attachfile[i] %>" download>Download</a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer")%>